{% extends "base.html" %}
{% block content %}
<script>
	$(document).ready(function(){
		$("button").click(function(){
			var id = String($(this).text());
			$.get("switch/" + id, function(data, status){
				var stat = JSON.parse(data);
				btn = "#btn-" + stat.number;
				if (stat.status){
					$(btn).attr("class","btn btn-block btn-lg btn-danger");
				}else{
					$(btn).attr("class","btn btn-block btn-lg btn-default");
				}
			});
		});
	});
</script>

{% for btn in relay %}
	<button type="button" class="btn btn-block btn-lg {{btn.color}} " id="btn-{{btn.number}}">
		{{btn.number}}</button>
{% endfor %}
{% endblock %}
